@model IEnumerable<Printercounter.Models.Counter>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Counter</h4>
    <hr />
    


    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.FirstOrDefault().Printer.PrinterName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstOrDefault().Printer.PrinterModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayFor(model => model.FirstOrDefault().Printer.PrinterBarcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.First().Printer.PrinterIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayFor(model => model.First().Printer.PrinterSN)
        </dt>
        <dt class = "col-sm-10">
            @Html.DisplayFor(model => model.First().Printer.PrinterLocation)
        </dt>

    </dl>
   
</div>
<div>

    <a asp-action="Index">Back to List</a>
    <a asp-action="Montly" asp-route-id="@Model.First().PrinterID">Montly report</a>
</div>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Date_Counter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaperCounter)
            </th>
                        
            <th>
                @Html.DisplayNameFor(model => model.DailyPaperConsumption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TonerLevel)
            </th>
            

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Date_Counter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaperCounter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DailyPaperConsumption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TonerLevel)
            </td>
                       
        </tr>
        }
    </tbody>
</table>
