@model IEnumerable<Printercounter.Models.Counter>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Printer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Printer.PrinterBarcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Printer.PrinterSN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaperCounter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TonerLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Counter)
                <div class="container">
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <div class='input-group date'>
                                    <input type='text' class="form-control" id='datepicker' width="9" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyPaperConsumption)
            </th>
            <th>

            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Printer.PrinterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Printer.PrinterBarcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Printer.PrinterSN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaperCounter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TonerLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Counter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DailyPaperConsumption)
                </td>
                <td>

                    <a asp-action="Details" asp-route-id="@item.CounterID">Details</a>

                </td>

            </tr>
        }
    </tbody>
</table>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@section Scripts{
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>

        $("#datepicker").datepicker({
            showAnim: "slideDown",
            buttonImage: "calendar1.gif",
            buttonImageOnly: true,
            dateFormat: "yy-mm-dd"
            });

        @*var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        today = yyyy + '-' + mm + '-' + dd;

        dateList = '@ViewBag.dateList';
        alert(dateList);
        if (dateList) { today = dateList; };
        alert(today);
        $("#datepicker").datepicker("setDate", today);*@

        $("#datepicker").datepicker("setDate", "@ViewBag.dateList");
        $("#datepicker").change(function () {

            var dateList = $("#datepicker").val();
            location.href = '@Url.Action("Counters", "Index")?datelist=' + dateList;
        });
    </script>
}
